.blockquote {
    font-size: 15px;
}
.stream {
    background-color:rgb(255, 0, 0);
    border-radius: 25px;
    --bs-nav-link-hover-color: white;
    box-shadow: 0.1em 0 .4em grey;
}
nav {
    background-color: white;
}
.card {
    border: 0px;
    text-align: center;
}
.btn {
    --bs-btn-hover-bg:rgb(171, 57, 57);
    --bs-btn-hover-color: white;
    margin: auto;
    border: 1px solid rgb(171, 57, 57);
    color:rgb(171, 57, 57)
}