.blockquote {
    font-size: 15px;
}
.stream {
    background-color:rgb(255, 0, 0);
    border-radius: 25px;
    --bs-nav-link-hover-color: white;
    box-shadow: 0.1em 0 .4em grey;
}
nav {
    background-color: white;
}
.card {
    border: 0px;
    text-align: center;
}
.btn {
    --bs-btn-hover-bg:rgb(255, 255, 255);
    --bs-btn-hover-color: rgb(171, 57, 57);
    margin: auto;
    color:rgb(255, 255, 255);
    background-color: rgb(171, 57, 57);
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }